*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: lightgreen;
    text-align: center;
    width: 40%;
    margin: auto;
    height: 100px;
    margin-top: 20px;
    border-radius: 10px;

}
h1{
    padding-top: 20px;
    text-align: center;
    margin-top: 30px;
}
.input-div{
    display: inline-block;
    margin-top: 30px;
}
input{ 
    margin-right: 50px;
    text-align: center;
    outline: none;
    border: none;
    padding: 5px 5px;
}
label{
    margin-right: 50px;
    margin-bottom: 20px;


}